<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>ClassTrack</title>

  <link rel="stylesheet" type="text/css" href="css/reset.css">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/chatroom_demo.css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="node_modules/simplewebrtc/simplewebrtc.bundle.js"></script>


</head>
<body>

  <div class="wrapper">


  <div class="navbar-custom-global navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" onClick="history.go(-1); return true;" >ClassTrack</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
          <div class="nav navbar-nav navbar-right">
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="row">
    <!-- Has to be on one line due to whitespace being included -->
      <!-- <div class="col-md-6" id="video_container"><video id="localVideo" autoplay style="background-color:#FFF"></video></div><div class="col-md-6" id="remote_video_container"><video id="remoteVideo" autoplay style="background-color:#FFF"></div>  -->

        <video height="300" id="localVideo"></video>
        <div id="remote_video_container"></div>
    </div>
    <div class="row video_controls">
        <!-- <button id="connect_button" class="custom_button" onclick="initialize()">Connect</button> -->
        <!-- <button id="mute_button" class="custom_button" onclick="mute()">Mute</button>-->
        <!-- <button id="disconnect_button" class="custom_button" onclick="endCall()">Disconnect</button> -->
        <!-- <button id="screen_sharing_button" class="custom_button" onclick="shareScreen()">Screen Sharing</button> -->

    </div>

    
      


    <div class="row" style="width:50%; margin-left: auto; margin-right: auto">
      <form id="chatform">
      <input style="width:100%" type="text" id="chatText"></input>
    </div>
    <div class="row">
      <div id="chatMembers" style="height:20px; width:50%; margin-left:auto; margin-right:auto">
        <ul id="chatMembersList">
	  <li><strong>Current Members:</strong></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div style="margin-left:auto; margin-right:auto; width:50%; overflow: auto" id="chatbox"></div>
    </div>




        <script src="js/jquery.js"></script>
        <script src="js/modernizr-latest.js"></script>
        <script src="js/adapter.js"></script>

<script>
  var webrtc = new SimpleWebRTC({
    // the id/element dom element that will hold "our" video
    localVideoEl: 'localVideo',
    // the id/element dom element that will hold remote videos
    remoteVideosEl: 'remotesVideos',
    // immediately ask for camera access
    autoRequestMedia: true,
    url: '52.5.194.210:8080'
  });


  // we have to wait until it's ready
  webrtc.on('readyToCall', function () {
    // you can name it anything
    webrtc.joinRoom('cupcake');
  });

</script>

<!-- <script src="js/WebRTC.js"></script>-- >









  </div>

    <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>
