.below_nav, #sidebar{background-color:#16A086;}



#sidebar {
	width:10%;
	float: left;
	position:relative;
	overflow-y:auto;
	overflow-x:hidden;
}


#content-right-of-sidebar
{
	background-color:#FEFEFE;
	width:90%;
	height: auto;
	float:right;
}

#content-right-of-sidebar, #sidebar
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.side-nav-link
{
	color:#FFF;	
}

.side-nav-active
{
	background-color:#D55401;
}

.custom-nav-pills > li {
  float: left;
}
.custom-nav-pills > li > a {
  border-radius: 4px;
}
.custom-nav-pills > li + li {
  margin-left: 2px;
}
.custom-nav-pills > li.active > a,
.custom-nav-pills > li.active > a:hover,
.custom-nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #428bca;
}

a.list-group-item.active > .badge,
.custom-nav-pills > .active > a > .badge {
  color: #428bca;
  background-color: #fff;
}
.custom-nav-pills > li > a > .badge {
  margin-left: 3px;
}

.custom-nav-pills
{
	display:block; !important
}