.below_nav, #sidebar{background-color:#16A086;}



#sidebar {
	width:15%;
	float: left;
	position:relative;
	overflow-y:auto;
	overflow-x:hidden;
}


#content-right-of-sidebar
{
	background-color:#FEFEFE;
	width:85%;
	height: auto;
	float:left;
}

#content-right-of-sidebar, #sidebar
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.side-nav-link
{
	color:#FFF;	
}

.side-nav-active
{
	background-color:#D55401;
}