{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block content %}
    {{ super() }}

		<div class="row">





<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/modernizr-latest.js"></script>
<script src="../assets/js/simplewebrtc/simplewebrtc.bundle.js"></script>
        <video height="300" id="localVideo"></video>
        <div id="remotesVideos"></div>

        <script>
          var webrtc = new SimpleWebRTC({
          // the id/element dom element that will hold "our" video
          localVideoEl: 'localVideo',
          // the id/element dom element that will hold remote videos
          remoteVideosEl: 'remotesVideos',
          // immediately ask for camera access
          autoRequestMedia: true
          });




          webrtc.on('readyToCall', function () {
          // you can name it anything
          webrtc.joinRoom('cupcake');
          });
        </script>





</body>
</html>
	






		</div>


{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}