	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>{{ title }}</title>

		<!-- Bootstrap core CSS -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/assets/css/sidebar.css" rel="stylesheet">
		<link href="/assets/css/home.css" rel="stylesheet">

		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/timepicker/jquery.timepicker.js"></script>
        <link rel="stylesheet" href="/assets/js/timepicker/jquery.timepicker.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/assets/js/datepicker/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="/assets/js/datepicker/css/datepicker.css" type="text/css" media="screen" />
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

		<style>
		#timePickerDiv{
			display:none;
		}
		</style>

	</head>

	<body>

	    {% if error %}
	      <div class="alert alert-warning" style=""><p> {{ error }} </p></div>
	    {% else %}
		<form role="form" action="/addConference" method="POST" onSubmit="return window.checkValidity();">
			<label for="purpose">Purpose of Meeting:</label>
			<div class="form-group input-group">
				<span class="input-group-addon" id="purpose-addon"><span class="glyphicon glyphicon-bookmark"></span></span>
		    <input class="form-control" type="text" name="purpose" placeholder="Purpose of Meeting" id="purpose-input" aria-describedby="purpose-addon"></input>
		  </div>

			<label for="participants">Select a Participant:</label>
		  <div class="form-group input-group">
				<span class="input-group-addon" id="person-addon"><span class="glyphicon glyphicon-user"></span></span>
				<select id ="participant-select" class="form-control" name="participants"  aria-describedby="person-addon"></select>
		  </div>

			<label for="date">Date:</label>
		  <div class="form-group input-group">
					<span class="input-group-addon" id="date-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		      <input id ="datePicker" class="form-control" size="16" type="text" name="date" aria-describedby="date-addon">
			</div>

			<div id="timePickerDiv">
				<label for="time">Time:</label>
			  <div class="form-group input-group">
					<span class="input-group-addon" id="time-addon"><span class="glyphicon glyphicon-time"></span></span>
		      <input id="timePicker" type="text" class="form-control" name="time" aria-describedby="time-addon">
		  	</div>
			</div>

		  <button type="submit" class="btn btn-default">Submit</button>
		</div>
		</form>
		<script>
			function populateList()
			{
				var list = {{ participantList | safe }}
				var dropdown = $('#participant-select');
				for(var i = 0; i < list.length; i++)
				{
					dropdown.append($("<option></option>")
      				.attr("value", list[i]['value'])
      				.text(list[i]['name']));

				}
			}

			$(document).ready(function(){
				populateList();

				$('#timePicker').timepicker({
					'disableTimeRanges':[
				        ['12am', '6am']
					]
				});

				$('#datePicker').datepicker({
					startDate: "0d",
    			autoclose: true,
    			todayHighlight: true
				});

				$("#datePicker").on('change', function(){
					if(validDate($("#datePicker").val())){
						$("#timePickerDiv").show(0);

						//Find current time
						var d = new Date();
						var hours = d.getHours();
						var minutes = d.getMinutes();
						var ampm = "am";
						if (hours > 12){
							hours = hours - 12;
							ampm = "pm";
						}

						if(minutes > 0 && minutes < 30){
							minutes = ":30";
						}
						else{
							hours++;
							minutes = ":00";
						}

						var time = "" + hours + minutes + ampm;

						//check if date selected is today
						if(isToday($("#datePicker").val())){
							$('#timePicker').timepicker('option', {'minTime': time, 'maxTime': '11:30pm', 'useSelect': true});
						}
						else{
							$('#timePicker').timepicker('option', {'minTime': '6:00am', 'maxTime': '11:30pm', 'useSelect': true});
						}
						$(".ui-timepicker-select").attr("class", "ui-timepicker-select form-control");
						$(".ui-timepicker-select").attr("aria-describedby", "time-addon");
					}
				});

			});

			function checkValidity(){
				if(!validDate($("#datePicker").val())){
					alert("Please enter a valid time in the format: 'mm/dd/yyyy'");
					return false;
				}
				else if($("#purpose-input").val() == "")
				{
					alert("Please give a purpose for the meeting");
					return false;
				}
				else
				{
					return true;
				}
			}

			function validDate(date){
				if(date != "" && date.length == 10 && date.charAt(2) == '/' && date.charAt(5) == '/'){
					return true;
				}
				else{
					return false;
				}
			}

			function isToday(date){
				var today = new Date();
				var month = today.getMonth()+1;
				var day = today.getDate();
				var year = today.getFullYear();

				if(date.substring(0,2) == month && date.substring(3,5) == day && date.substring(6,10) == year){
					return true;
				}
				return false;
			}
		</script>
	    {% endif %}

	</body>
	</html>
