{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}

{% block content %}

<div class="container">
  <div class="spacer25"></div>

  <div class="col-md-4 col-md-offset-4">
    <h1 style="margin-left:-15px;">Add Child:</h1>
    <br>
    <div id="message"></div>
      <div class="form-group">
        <label for="childID">Student ID:</label>
        <input id="childIDField" class="form-control" type="text" name="childID" placeholder="My Child's ID"></input>
        <div style="display: inline;" id="childResults"></div>
      </div>
        <button onclick="return lookupChild();" class="btn btn-default">Submit</button>
  </div>

</div>

{% endblock %}
