	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>{{ title }}</title>

		<!-- Bootstrap core CSS -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/assets/css/sidebar.css" rel="stylesheet">
		<link href="/assets/css/home.css" rel="stylesheet">

		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/timepicker/jquery.timepicker.js"></script>
        <link rel="stylesheet" href="/assets/js/timepicker/jquery.timepicker.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/assets/js/datepicker/js/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="/assets/js/datepicker/css/datepicker.css" type="text/css" media="screen" />
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

	</head>

	<body>

		<form role="form" action="/addMessage" method="POST" onSubmit="return window.checkValidity();">
		  <div class="form-group">
		    <label for="purpose">Subject:</label>
		    <input class="form-control" type="text" name="purpose" placeholder="Subject" id="purpose-input"></input>
		  </div>
		  <div class="form-group">
		    <label for="participants">Select a Teacher:</label>
				<select id ="participant-select" name="participants">
					{% for teacher in teachers %}
						<!-- <option value="{{teacher.auth_ids[0]}}">{{ teacher.first_name }} {{ teacher.last_name }}</option>-->
						<option value="{{teacher.id()}}">{{ teacher.first_name }} {{ teacher.last_name }}</option>
					{% endfor %}
				</select>

		  </div>
		  <div class="form-group">
		      <label for="Message">Message:</label>
		      <textarea class="form-control" placeholder="Message" id ="Message" name = "message"></textarea>
          </div>

		  <button type="submit" class="btn btn-default">Submit</button>
		</div>
		</form>
		<script>
			$(document).ready(function(){
				$('#timePicker').timepicker({
					'disableTimeRanges':[
				        ['12am', '6am']
						// ['8am', '3pm']
					]
				});

				$.fn.datepicker.defaults.format = "mm/dd/yyyy";
				$('#timePicker').timepicker('option', { useSelect: true });
				$('#datePicker').datepicker({
				});


				var d = new Date();

				var month = d.getMonth()+1;
				var day = d.getDate();

				// var output = d.getFullYear() + '/' +
				//     (month<10 ? '0' : '') + month + '/' +
				//     (day<10 ? '0' : '') + day;

				//  $("#date-input").text(output);
			});

			function checkValidity()
			{
				if($("#datePicker").val() == "")
				{
					alert("Please choose a date for the conference");
					return false;
				}
				else if($("#purpose-input").val() == "")
				{
					alert("Please give a purpose for the meeting");
					return false;
				}
				else
				{
					return true;
				}
			}
		</script>
	</body>
	</html>
