	{% block top %}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">
		<title>{{ title }}</title>
		<!-- Bootstrap core CSS -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/assets/css/sidebar.css" rel="stylesheet">
		<link href="/assets/css/home.css" rel="stylesheet">
		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/js/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/assets/js/fancybox/source/jquery.fancybox.js"></script>
        <script type="text/javascript" src="/assets/js/touchswipe/jquery.touchSwipe.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
		{%block scriptBlock %}{% endblock %}

	</head>
	<body>
		<div class="navbar-custom-global navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ index }}">ClassTrack</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a>Child Select: </a></li>
						{% if not children_list %}
						<li><a href="/addChild">Add Child</a></li>
						{% else %}
							<li><select class="form-control" style="margin-top: 7px;">
							{% for child in children_list%}
								<option value="{{child.auth_ids[0]}}">{{child.first_name}}</option>
							{%endfor%}
						{% endif %}
						</select></li>
						<li><a>Current Class Selected</a></li>
						<li><a>{{selected_class}}</a></li>
					</ul>
					<div class="nav navbar-nav navbar-right">
						{% if username %}
					    	<p style="display: inline;">Welcome, <b>{{ first_name }}!</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ logout }}"><button type="button" class="btn btn-default navbar-btn">Logout</button></a></p>
						{% else %}
							<a href="/login"><button type="button" class="btn btn-warning navbar-btn">Login</button></a>
							<a href="/signup"><button type="button" class="btn btn-warning navbar-btn">Signup</button></a>
						{% endif %}
					</div>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		<div class="below_nav">
			<div id="sidebar">
				<ul class="nav nav-pills nav-stacked">
					<!-- <li class="active"><a href="#">Section</a></li> -->
					<li id="home_li"><a class="side-nav-link" href="home.html">Home</a></li>
					<li><a class="side-nav-link fancybox fancybox.iframe" href="classSelect.html">Switch Class</a></li>
				    <script>
				        $(document).ready(function() {
				            $('.fancybox').fancybox({
							   width: 640,
						   		height: 450,
						   		fitToView : false,
						   		autoSize : false
				            });
				        });
				    </script>
					<li id="calendar_li"><a class="side-nav-link" href="calendar.html">Calendar</a></li>
					<li id="grades_li"><a class="side-nav-link" href="grades.html">Grades</a></li>
					<li id="documents_li"><a class="side-nav-link" href="documents.html">Documents</a></li>
					<li id="conferenceSchedule_li"><a class="side-nav-link" href="conferenceSchedule.html">Conference</a></li>
					<li id="messaging_li"><a class="side-nav-link" href="messaging.html">Contact Teacher</a></li>
	 			</ul>
	 		{%block sideNavWidget %}{% endblock %}
			{%endblock%}
			</div>

			<div id="content-right-of-sidebar">
				{% block content %}{% endblock %}
			</div>
		</div>
	{% block bottom %}
	<script>
		$(document).ready(function(){
			setup();
		});
        
        var timer_id;
        
		$(window).resize(function() {
            
                clearTimeout(timer_id);

                timer_id = setTimeout(function() {

                    fixWidth();

                }, 300);
            });

            


        
		function setup()
		{
			var path = window.location.pathname.substring(1, (window.location.pathname.length-5));
			$("#"+path+"_li").addClass("side-nav-active");
			newsfeedMinHeight();
			fixHeights();
			fixWidth();
			// Swipe
			  $(document).swipe( {
		        //Generic swipe handler for all directions
		       	 	swipeLeft:function(event, direction, distance, duration, fingerCount) {
		       	 		collapseSideMenu();
		        	},
		       	 	swipeRight:function(event, direction, distance, duration, fingerCount) {
		       	 		expandSideMenu();
		       	 	},
	   	 	        threshold:75
		    	}
		    );
		}
		function newsfeedMinHeight()
		{
			if($('.home_newsfeed').height() < $('.home_filter').height())
			{
				$('.home_newsfeed').height($('.home_filter').height());
			}
		}
		function findSizesForClassButtons()
		{
			var numChildren = $('#class_button_holder').children().size();
			var containerWidth = $('#class_button_holder').width()/numChildren;
			// Somehow this width is different than set by CSS
			var originalButtonWidth = containerWidth*0.5;
			if(originalButtonWidth < 50)
			{
				originalButtonWidth = 50;
			}
			$('.class_button_container > img').width(originalButtonWidth);
			$('.class_button_container').width(containerWidth);
		}
		function animateButtons()
		{
			var originalButtonWidth = $('.class_button_container > img').width();
			// Animation for class button hover
			$(".class_button_container").hover(function()
			{
				$(this).children('img').stop().animate({ width : originalButtonWidth+10 });
		    	},
		    	function()
		    	{
		    		$(this).children('img').stop().animate({ width :  originalButtonWidth});
		    	}
		    	);
		}
		function fixHeights()
		{
			$('#content-right-of-sidebar').height($('.home_newsfeed').height()+50);
			if($('#content-right-of-sidebar').height() < $('.below_nav').height())
			{
				$('#sidebar').height($('.below_nav').height());
				$('#content-right-of-sidebar').height($('.below_nav').height());
			}
			$('#sidebar').height($('#content-right-of-sidebar').height());
		}
		function fixWidth()
		{
			$('#sidebar').width(150);
			$('#content-right-of-sidebar').width($(window).width()-150);
		}
		function collapseSideMenu()
		{
			$(".below_nav").css("background-color","#FFF");
			$('#sidebar').stop().animate({width:0});
			$('#content-right-of-sidebar').stop().animate({width:$(document).width()});
		}
		function expandSideMenu()
		{
			var rightwidth = $(document).width()-150;
			$('#sidebar').stop().animate({width:150});
			$('#content-right-of-sidebar').stop().animate({width: rightwidth});
			// $(".below_nav").css("background-color","#16A086"); // Hardcoded value, this is just the color of the sidebar

		}
	</script>
	</body>
	</html>
	{%endblock%}
