	{% block top %}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>{{ title }}</title>

		<!-- Bootstrap core CSS -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/assets/css/sidebar.css" rel="stylesheet">
		<link href="/assets/css/home.css" rel="stylesheet">

		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
		
	</head>

	<body>

		<div class="navbar-custom-global navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ index }}">ClassTrack</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a>Child Select: </a></li>
						{% for child in children_list%}
						<li><a href="#">{{child}}</a></li>
						{%endfor%}
					</ul>
					<div class="nav navbar-nav navbar-right">
					</div>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="below_nav">
			<div id="sidebar">
				<ul class="nav nav-pills nav-stacked">
					<!-- <li class="active"><a href="#">Section</a></li> -->
					<li class="side-nav-active"><a class="side-nav-link" href="#">Home</a></li>        
					<li><a class="side-nav-link" href="#">Switch Class</a></li>        
					<li><a class="side-nav-link" href="#">Calendar</a></li>        
					<li><a class="side-nav-link" href="#">Grades</a></li>        
					<li><a class="side-nav-link" href="#">Documents</a></li>        
					<li><a class="side-nav-link" href="#">Conference</a></li>        
					<li><a class="side-nav-link" href="#">Contact Teacher</a></li>
	<!-- 				<li><a href="#" id="side-nav-toggle" onclick="toggleSide()" class="side-nav-link">Close Menu</a></li>
	 -->			</ul>

	 		{%block sideNavWidget %}{% endblock %}


			{%endblock%}
			</div>

			
			<div id="content-right-of-sidebar">
				<div class="row">

				{% block content %}{% endblock %}


				</div>
			</div>
		</div>
	</div>

	{% block bottom %}

	<script>
		$(document).ready(function(){
			findSizesForClassButtons();
			// animateButtons()
			newsfeedMinHeight();
			$(".menu-toggle").click(function(e) {
				$("#wrapper").toggleClass("toggled");
			});

			$('#side-nav-toggle').click(function(){
				$("#wrapper").toggleClass("toggled");
			}, 
			function(){

			});


			$("#side-nav-toggle").click(function() {
				$('.row-offcanvas').toggleClass('active');
			});

		});

		$(window).resize(function(){
			findSizesForClassButtons();
			// animateButtons()
			newsfeedMinHeight();

		});

		function newsfeedMinHeight()
		{
			if($('.home_newsfeed').height() < $('.home_filter').height())
			{
				console.log("Done");
				$('.home_newsfeed').height($('.home_filter').height());
			}
		}

		function findSizesForClassButtons()
		{
			var numChildren = $('#class_button_holder').children().size();
			var containerWidth = $('#class_button_holder').width()/numChildren;
			// Somehow this width is different than set by CSS
			var originalButtonWidth = containerWidth*0.5;
			if(originalButtonWidth < 50)
			{
				originalButtonWidth = 50;
			}
			$('.class_button_container > img').width(originalButtonWidth); 
			$('.class_button_container').width(containerWidth);
		}

		function animateButtons()
		{
			var originalButtonWidth = $('.class_button_container > img').width();
			// Animation for class button hover
			$(".class_button_container").hover(function()
			{
				$(this).children('img').stop().animate({ width : originalButtonWidth+10 });
		    		// $(this).children('h1').hide().fadeIn(200);
		    	},
		    	function()
		    	{
		    		$(this).children('img').stop().animate({ width :  originalButtonWidth});
		    		// $(this).children('h1').fadeTo(200,0);
		    	}
		    	);
		}

		function toggleSide()
		{
			// $('#sidebar').stop().animate({ width :  "10%"});
			// $('#content-right-of-sidebar').stop().animate({ width :  "90%"});
			// $('#content-right-of-sidebar').css("float", "left");

		}

	</script>

	</body>
	</html>
	{%endblock%}