{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}
<style>
	.circle{
		background-color: #48CAB0;
		color: #FFF;
		height: 300px;
		width: 300px;
		-moz-border-radius: 150px;
		-webkit-border-radius: 150px;
		border-radius: 150px;
		margin-top: 15%;
		left: 10%;
	}
	.circle:hover{
		box-shadow: 0px 0px 10px #000;
		cursor: pointer;
	}
	.title{
		line-height: 300px;
		width: 300px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.messageBox{
		width: 75px;
		height: 75px;
		color: black;
		background-color: blue;
		position: relative;
		top:-40%;
		left:75%;
	}
	.messageBox > h2{
		width: 75px;
		line-height: 75px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: #FFF;
	}
	.circle:hover .messageBox{
		box-shadow: 0px 0px 10px #000;
	}
	#warning{
		display: none;
		box-shadow: 0px 0px 10px #000;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		position: absolute;
		z-index: 5;
		top: 35%;
		background-color: white;
	}
	#warning h3{
		padding: 15px;
		text-align: center;
	}
	#remove-circle{
		box-shadow: 0px 0px 10px #000;
		font-size: 2em;
		position:absolute;
		z-index: 6;
		top: -8px;
		right: -8px;
		color: white;
		background-color: black;
		-moz-border-radius: 2em;
		-webkit-border-radius: 2em;
		border-radius: 2em;
	}
	#remove-circle:hover{
		cursor: pointer;
		box-shadow: 0px 0px 20px #000;
	}
</style>
{{ super() }}{% endblock %}

{% block content %}

<div class="container">
  <div class="spacer25"></div>
    {% if warning %}
			<div id="warning" class="col-md-4 col-md-offset-3">
				<span id='remove-circle' class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
				<h3>{{warning}}
					<br>
					<br>
					<button class="btn btn-default" onclick="redirect('/addChild')">Add Child Here</button>
				</h3>
			</div>
    {% endif %}
  <div onclick="redirect('/conferenceSchedule')" class="col-md-3 col-md-offset-1 circle">
		<h3 class="title">Conferences</h3>
		<div class="messageBox circle" id="numConfBox"></div>
  </div>
	<div onclick="redirect('/messaging')" class="col-md-3 col-md-offset-1 circle">
		<h3 class="title">Inbox</h3>
		<div class="messageBox circle" id="numMessBox"></div>
  </div>

			    <center><button href="/{{ planConferenceLink }}" id="add_button" class="custom_button fancybox fancybox.iframe">Add a Conference</button></center>

				    <script>
				        $(document).ready(function() {
				            $('.fancybox').fancybox({
							   width: 640,
						   		height: 450,
						   		fitToView : false,
						   		autoSize : false,
                                afterClose: function () {
                                    parent.location.reload(true);
                                }
				            });
				        });
				    </script>

</div>

<script>
	$(document).ready(function(){
		$("#numConfBox").append("<h2>{{numConf}}</h2>");
		$("#numMessBox").append("<h2>{{numMess}}</h2>");

		$("#warning").fadeIn(800);

		$("#remove-circle").on('click', function(){
			$("#warning").fadeOut(600);
		});
	});

	function redirect(url){
		window.location = url;
	}
</script>
{% endblock %}

{% block footer %}

{% endblock %}
