
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>{{ title }}</title>

  <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../assets/css/chatroom_demo.css">
</head>
<body>

  <div class="wrapper">


  <div class="navbar-custom-global navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ index }}">ClassTrack</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
<!--             <li><a>Child Select: </a></li>
            {% for child in children_list%}
            <li><a href="#">{{child}}</a></li>
            {%endfor%}
            <li><a>Current Class Selected</a></li>
            <li><a>{{selected_class}}</a></li> -->
          </ul>
          <div class="nav navbar-nav navbar-right">
            {% if username %}
                <p style="display: inline;">Welcome, <b>{{ username }}</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ logout }}"><button type="button" class="btn btn-default navbar-btn">Logout</a></button></p>
            {% else %}
              <a href="{{ login }}"><button type="button" class="btn btn-warning navbar-btn">Login</button></a>
              <a href="{{ signup }}"><button type="button" class="btn btn-warning navbar-btn">Signup</button></a>
            {% endif %}
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        
      </div>
    </div>

    <div class="row">
    <!-- Has to be on one line due to whitespace being included -->
      <div class="col-md-6"><video id="localVideo" autoplay style="background-color:#FFF"></video></div><div class="col-md-6" id="remote_video_container"></div> 
    </div>
    <div class="video_controls">
        <button id="connect_button" class="custom_button" onclick="connect()">Connect</button>
        <button id="mute_button" class="custom_button" onclick="mute()">Mute</button>
        <button id="disconnect_button" class="custom_button" onclick="disconnect()">Disconnect</button>
        <button id="screen_sharing_button" class="custom_button" onclick="shareScreen()">Screen Sharing</button>

    </div>

    <div id="infoDiv"></div>




        <script src="../assets/js/jquery.js"></script>
        <script src="../assets/js/modernizr-latest.js"></script>
        <script src="../assets/js/simplewebrtc/simplewebrtc.bundle.js"></script>
        <script src="../assets/js/adapter.js"></script>
        <script>
          var webrtc;

          function connect(){
            webrtc = new SimpleWebRTC({
            // the id/element dom element that will hold "our" video
            localVideoEl: 'localVideo',
            // the id/element dom element that will hold remote videos
            remoteVideosEl: 'remote_video_container',
            // immediately ask for camera access
            autoRequestMedia: true
            });

            webrtc.on('readyToCall', function () {
            // you can name it anything
            webrtc.joinRoom('cupcake');
            });

            var getScreenMedia = require('getscreenmedia');

getScreenMedia(function (err, stream) {
    // if the browser doesn't support user media
    // or the user says "no" the error gets passed
    // as the first argument.
    if (err) {
       console.log('failed');
    } else {
       console.log('got a stream', stream);  
    }
})
          }

          function disconnect(){
            webrtc.leaveRoom();
            webrtc.stopLocalVideo();
            $("#localVideo").height($("#remoteVideo").height());
          }

          function mute(){
            if($("#mute_button").html() == "Mute"){
              $("#mute_button").html("Unmute");
            }
            else{
              $("#mute_button").html("Mute");
            }
          }

          function shareScreen(){
            // Toggle text
            if($("#screen_sharing_button").html() == "Screen Sharing"){
              $("#screen_sharing_button").html("Share Video");
            }
            else{
              $("#screen_sharing_button").html("Screen Sharing");
            }
            
          }
        </script>


  </div>

    <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>