	{% extends "baseActivity.html" %}
	{% block title %}{{ title }}{% endblock %}
	{% block top %}{{ super() }}{% endblock %}


 	{% block sideNavWidget %}

	{% endblock %}


	{% block content %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9" role="alert">
				<center><h1>Conference List</h1></center>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row" style="margin-bottom:20px">
			<div class="col-md-1"></div>
			<div class="col-md-9" role="alert">
			    <center><button href="{% if user.user_type == 1%}
                                                    /selectCourseMenu 
                                                    {%elif user.user_type == 2%}
                                                    /selectChildMenu 
                                                    {%endif%}
                                                    "id="add_button" class="custom_button fancybox fancybox.iframe">
                                                    Add a Conference</button></center>
                            
				    <script>
				        $(document).ready(function() {
				            $('.fancybox').fancybox({
							   width: 640,
						   		height: 450,
						   		fitToView : false,
						   		autoSize : false,
                                afterClose: function () {
                                    parent.location.reload(true);
                                }
				            });
				        });
				    </script>


			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="push"></div>

		{% for conference in conference_list %}
		<div class="row">
			<div class="alert alert-success col-md-12" role="alert">
				<div class="col-md-2">{{conference['datetime']}} </div>
				<div class="col-md-2">{{conference['purpose']}}</div>
				<!-- Put for loop here for participant names-->
				<div class="col-md-2">{{part_list[loop.index0]}}</div>
				<div class="col-md-6">

						<div class="col-md-6">
							<form method="GET" action="http://54.164.63.7:9000/">
								<input type="hidden" name="roomkey" value={{conference.id()}}>
								<input type="hidden" name="name" value={{ conference.first_name }}>

								<input class="btn btn-default btn-block" type="submit" value="Enter">
							</form>
						</div>
<!-- 						<div class="col-md-4">
							<a href="#" class="btn btn-default btn-block">Edit</a>
						</div> -->
						<div class="col-md-6">
							<form method="POST" action="delConference">
								<input type="hidden" name="roomkey" value={{conference.id()}}>
								<input name=SeleniumTestDelete id={{conference['purpose']}} class="btn btn-default btn-block" type="submit" value="Delete">
							</form>
						</div>
				</div>
			</div>
		</div>
		{% endfor %}


		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9" role="alert">
				<center><h1>Invitations</h1></center>
			</div>
			<div class="col-md-2"></div>
		</div>
		{% for invitation in conference_list_inv %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="alert alert-danger col-md-12" role="alert">
				<div class="col-md-2">{{invitation['datetime']}}</div>
				<div class="col-md-2">{{invitation['purpose']}}</div>
				<div class="col-md-2">{{part_list_inv[loop.index0]}}</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6"><button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Accept</button></div>
						<div class="col-md-6"><button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Decline</button></div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>



		<script>
			function deleteConference()
			{
				var conf = confirm('Are you sure you want to delete this conference?');
				if(conf)
				{
					// TODO: Add conference deletion handler
					alert("Conference deleted");
				}
				else
				{

				}
			}
		</script>
		{% endfor %}


	{% endblock %}

	{% block bottom %}{{ super() }}{% endblock %}
