
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/modernizr-latest.js"></script>
<!-- <script src="../assets/js/simplewebrtc/simplewebrtc.bundle.js"></script> -->
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script src="../assets/js/adapter.js"></script>
<script>
    channel = new goog.appengine.Channel({{token}});
   	openChannel("{{ token }}");




    function openChannel(channelToken) {
      console.log("Opening channel.");
      var channel = new goog.appengine.Channel(channelToken);
      var handler = {
        'onopen': onChannelOpened,
        'onmessage': onChannelMessage,
        'onerror': onChannelError,
        'onclose': onChannelClosed
      };
      socket = channel.open(handler);
    }

  	function onChannelOpened(){console.log("Channel opened");}
    function onChannelMessage(message){alert("Hello World?");}
    function onChannelError(err){console.log(err);}
    function onChannelClosed(){console.log("Channel Closed");}

    function processSignalingMessage(message) {
	var msg = JSON.parse(message);


	function processSignalingMessage(message) {
            var msg = JSON.parse(message);

            if (msg.type === 'offer') 
            {
              console.log("MAKING OFFERS");
              // Callee creates PeerConnection
              if (!initiator && !started)
                maybeStart();

              pc.setRemoteDescription(new RTCSessionDescription(msg));
              doAnswer();
            } 
            else if (msg.type === 'answer' && started) 
            {
              pc.setRemoteDescription(new RTCSessionDescription(msg));
            } 
            else if (msg.type === 'candidate' && started) 
            {
              var candidate = new RTCIceCandidate({sdpMLineIndex:msg.label, candidate:msg.candidate});
              pc.addIceCandidate(candidate);
            } 
            else if (msg.type === 'bye' && started) 
            {
              onRemoteHangup();
            }
          }
}
</script>