
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>{{ title }}</title>

  <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../assets/css/chatroom_demo.css">
</head>
<body>

  <div class="wrapper">


  <div class="navbar-custom-global navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">ClassTrack</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
          <div class="nav navbar-nav navbar-right">
            {% if username %}
                <p style="display: inline;">Welcome, <b>{{ username }}</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ logout }}"><button type="button" class="btn btn-default navbar-btn">Logout</a></button></p>
            {% endif %}
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="row">
    <!-- Has to be on one line due to whitespace being included -->
      <div class="col-md-6"><video id="localVideo" autoplay style="background-color:#FFF"></video></div><div class="col-md-6" id="remote_video_container"><video id="remoteVideo" autoplay style="background-color:#FFF"></div> 
    </div>
    <div class="video_controls">
        <button id="connect_button" class="custom_button" onclick="initialize()">Connect</button>
        <button id="mute_button" class="custom_button" onclick="mute()">Mute</button>
        <button id="disconnect_button" class="custom_button" onclick="disconnect()">Disconnect</button>
        <button id="screen_sharing_button" class="custom_button" onclick="shareScreen()">Screen Sharing</button>

    </div>

    <div id="infoDiv">
      


    <div class="row" id="conference_properties">
      <div class="alert alert-success col-md-12" role="alert">
          <div class="col-md-4">{{token}} </div>
          <div class="col-md-4">{{user_id}}</div>
          <div class="col-md-4">{{participants}}</div>
        </div>

    </div>

    </div>




        <script src="../assets/js/jquery.js"></script>
        <script src="../assets/js/modernizr-latest.js"></script>
        <!-- <script src="../assets/js/simplewebrtc/simplewebrtc.bundle.js"></script> -->
        <script type="text/javascript" src="/_ah/channel/jsapi"></script>
        <script src="../assets/js/adapter.js"></script>
        <script>
        function initialize()
        {
          navigator.getUserMedia = ( navigator.getUserMedia ||
                       navigator.webkitGetUserMedia ||
                       navigator.mozGetUserMedia ||
                       navigator.msGetUserMedia);

        if (navigator.getUserMedia) {
           navigator.getUserMedia (

              // constraints
              {
                 video: true,
                 audio: false
              },



              // successCallback
              function(localMediaStream) {
                 $('#localVideo').attr('src', window.URL.createObjectURL(localMediaStream));
                 
                 // Do something with the video here, e.g. video.play()
              },

              // errorCallback
              function(err) {
                 console.log("The following error occured: " + err);
              }
           );
           console.log("Initializing; room={{ token }}.");
           openChannel('{{ token }}');
           console.log("Create connection");
           createPeerConnection();
           console.log("Do Call");
           doCall();
        } 
        else {
           console.log("getUserMedia not supported");
          }

        }

        function openChannel(channelToken) {
              console.log("Opening channel.");
              var channel = new goog.appengine.Channel(channelToken);
              var handler = {
                'onopen': onChannelOpened,
                'onmessage': onChannelMessage,
                'onerror': onChannelError,
                'onclose': onChannelClosed
              };
              socket = channel.open(handler);
            }



            function onChannelOpened(){console.log("Channel opened");}
            function onChannelMessage(message){
              console.log("Recieved Message");
              console.log(message);
              processSignalingMessage(message);

            }
            function onChannelError(err){console.log(err);}
            function onChannelClosed(){console.log("Channel Closed");}


            function createPeerConnection() {
            var pc_config = {"iceServers": [{"url": "stun:stun.l.google.com:19302"}]};
            try {
              // Create an RTCPeerConnection via the polyfill (adapter.js).
              pc = new RTCPeerConnection(pc_config);
              pc.onicecandidate = onIceCandidate;
              console.log("Created RTCPeerConnnection with config:\n" + "  \"" +
                JSON.stringify(pc_config) + "\".");
            } catch (e) {
              console.log("Failed to create PeerConnection, exception: " + e.message);
              alert("Cannot create RTCPeerConnection object; WebRTC is not supported by this browser.");
                return;
            }

            pc.onconnecting = onSessionConnecting;
            pc.onopen = onSessionOpened;
            pc.onaddstream = onRemoteStreamAdded;
            pc.onremovestream = onRemoteStreamRemoved;
          }

          function onIceCandidate(event) {
            alert("Ice Candidate triggered");
            if (event.candidate) {
              sendMessage({type: 'candidate',
                label: event.candidate.sdpMLineIndex,
                id: event.candidate.sdpMid,
                candidate: event.candidate.candidate});
            } else {
              console.log("End of candidates.");
            }
          }

          function onSessionConnecting(){Console.log("Session Connecting...")};
          function onSessionOpened(){Console.log("Session Opened")};

          function onRemoteStreamAdded(event) {
            attachMediaStream(remoteVideo, event.stream);
            remoteStream = event.stream;
            // waitForRemoteVideo();
          }          
          
          function onRemoteStreamRemoved(){Console.log("Remote Sream Removed")};

          function doCall() {
            console.log("Sending offer to peer.");
            // var mediaConstraints = {'has_audio':true, 'has_video':true}; 

            var mediaConstraints = {
              optional: [],
              mandatory: {
                OfferToReceiveAudio: true,
                OfferToReceiveVideo: true
              }
            },onError,mediaConstraints;

            pc.createOffer(setLocalAndSendMessage, null, mediaConstraints);
          }

          function setLocalAndSendMessage(sessionDescription) {
            // Set Opus as the preferred codec in SDP if Opus is present.
            console.log("Local description set");
            sessionDescription.sdp = preferOpus(sessionDescription.sdp);
            pc.setLocalDescription(sessionDescription);
            sendMessage(sessionDescription);
          }

          var preferOpus = function(sdp) {
          var sdpLines = sdp.split('\r\n');

            for (var i = 0; i < sdpLines.length; i++) {
              if (sdpLines[i].search('m=audio') !== -1) {
                var mLineIndex = i;
                break;
              }
            }
          }

          function sendMessage(message) {
            var msgString = JSON.stringify(message);
            console.log('Client to Server: ' + msgString);
            path = '/ConferenceMessageChannel?roomkey={{token}}';
            var xhr = new XMLHttpRequest();
            xhr.open('POST', path, true);
            xhr.send(msgString);

          }


          function processSignalingMessage(message) {
            var msg = message;

            if (msg.type === 'offer') 
            {
              console.log("MAKING OFFERS");
              // Callee creates PeerConnection
              if (!initiator && !started)
                maybeStart();

              pc.setRemoteDescription(new RTCSessionDescription(msg));
              doAnswer();
            } 
            else if (msg.type === 'answer' && started) 
            {
              pc.setRemoteDescription(new RTCSessionDescription(msg));
            } 
            else if (msg.type === 'candidate' && started) 
            {
              var candidate = new RTCIceCandidate({sdpMLineIndex:msg.label, candidate:msg.candidate});
              pc.addIceCandidate(candidate);
            } 
            else if (msg.type === 'bye' && started) 
            {
              onRemoteHangup();
            }
          }

          function doAnswer() {
            console.log("Sending answer to peer.");
            pc.createAnswer(setLocalAndSendMessage, null, mediaConstraints);
          }

          function maybeStart() {
            if (!started && localStream && channelReady) {
              // ...
              createPeerConnection();
              // ...
              pc.addStream(localStream);
              started = true;
              // Caller initiates offer to peer.
              if (initiator)
                doCall();
            }
          }



        </script>


  </div>

    <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>