{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}

{% block content %}

<div class="container">
  <div class="spacer25"></div>

  <div class="col-md-4 col-md-offset-4">
    <h1 style="margin-left:-15px;">Add New Class:</h1>
    <br>
    <form role="form" action="/createClass" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" type="text" name="name" placeholder="Class Name"></input>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>

</div>

{% endblock %}
