	{% extends "baseActivity.html" %}
	{% block title %}{{ title }}{% endblock %}
	{% block top %}{{ super() }}{% endblock %}

 	{% block sideNavWidget %}
		<div class="home_filter">
			<h2>Filters</h2>
			{% for filter in filter_list %}
			<div class="checkbox">
				<label>
					<input type="checkbox" checked="checked" name="filter_list" value = "{{loop.index}}"/> {{filter}}
				</label>
			</div>
			{% endfor %}
		</div>
		<div class="home_filter">
			<a href="/addChild"><button type="button" class="btn btn-default navbar-btn">Add Child</button></a>
		</div>
	{% endblock %}


	{% block content %}
			<div class="col-md-1"></div>
			<div class="home_newsfeed col-md-10c">
				<h1>Newsfeed</h1>
                <div id = "NewsFeed"> 
				{% for news in newsfeed_list %}
				<div class="alert alert-warning" role="alert">
					<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
					{{news.caption}}
					<br/>
					<br/>
					<a href="#">Read More</a>
				</div>
				{% endfor %}
                </div>
			</div>
			<div class="col-md-1"></div>
            
            <!-- Quick and Dirty. Move to Js File later-->
            <script>
                $("input").click(function(){
                    
                    var filterData = '{"typeIds":[';
                  
                    for(var i=0;i<$("input:checked").length;i++){
                        filterData += '"';
                        filterData  += $("input:checked")[i].value;
                        filterData += '"';
                        if(i < $("input:checked").length - 1)
                            filterData  += ","
                    }
                    
                    filterData += ']}';

                    console.log(filterData);
                    
                    $.ajax({
                      url: "/jqNFpost",
                      type: "POST",
                      data:  {"IDValues": filterData},
                      datatype: 'json',
                      success: function(data){
                        $("#NewsFeed").html("");
                        var posts = JSON.parse(data) 
                        console.log(posts);
                        for(var i = 0; i<posts.length; i++)
                           
                            $("#NewsFeed").append('<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-th" aria-hidden="true"></span><br/>' + posts[i] + '<br/><a href="#">Read More</a></div>');
                        
                      },
                      error: function(e){
                        console.log(e);
                      }
                   });
                   
                });
                
                
                //Fixed Silly Firefox Checkbox bug
                $('document').ready(function(){
                    $('input').prop('checked', true);
                });
            </script>
	{% endblock %}


	{% block bottom %}{{ super() }}{% endblock %}
    
   
