	{% extends "baseActivity.html" %}
	{% block title %}{{ title }}{% endblock %}
	{% block top %}{{ super() }}{% endblock %}


 	{% block sideNavWidget %}

	{% endblock %}


	{% block content %}
        <div class="row">
			<div class="col-md-1"></div>
			<div class="home_newsfeed col-md-9">
				<center><h1>{{title}}</h1></center>
			</div>
			<div class="col-md-2"></div>
        </div>

        <div class="row" style="margin-bottom:20px">
			<div class="col-md-1"></div>
			<div class="col-md-9" role="alert">
			    <center><button href="addMessage" id="add_button" class="custom_button fancybox fancybox.iframe">New Message</button></center>

				    <script>
				        $(document).ready(function() {
				            $('.fancybox').fancybox({
							   width: 640,
						   		height: 450,
						   		fitToView : false,
						   		autoSize : false,
                                afterClose: function () {
                                    parent.location.reload(true);
                                }
				            });
				        });
				    </script>


			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="push"></div>

    {% if message_list|length != 0%}
      {% for MessageThread in message_list %}
      <div class="alert alert-success col-md-11" role="alert">
          <div class="row" style="text-align:center">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                {% for user in MessageThread.get()['users']%}{{user.get().first_name}} {{user.get().last_name}}{%if MessageThread.get()['users']|length !=1 and loop.index != MessageThread.get()['users']|length%}, {% endif %}{% endfor %}
                </div>
                <div class="col-md-3">{{MessageThread.get()['subject']}}</div>
                <div class="col-md-3">{{MessageThread.get()['time'].strftime("%A, %B %d - %I:%M %p")}}</div><div class="col-md-2">
                <button href="/showMessage?messageId={{MessageThread.id()}}" id="show_message" class="btn fancybox fancybox.iframe">View Messages</button>
			</div>
            <div class="col-md-2"></div>
          </div>
      </div>
      {% endfor %}

	    {% else %}
	        <div class="alert alert-info col-md-11" role="alert">
	            <div class="row" style="text-align:center">
	                <div class="col-md-3"></div>
	                <div class="col-md-6">You have no new messages.</div>
	                <div class="col-md-3"></div>
	            </div>
	        </div>
		{% endif %}


	{% endblock %}

	{% block bottom %}{{ super() }}{% endblock %}
