	{% extends "baseActivity.html" %}
	{% block title %}{{ title }}{% endblock %}
	{% block top %}{{ super() }}{% endblock %}
 		

 	{% block sideNavWidget %}

	{% endblock %}


	{% block content %}
        <div class="row">
			<div class="col-md-1"></div>
			<div class="home_newsfeed col-md-9">
				<center><h1>{{title}}</h1></center>
			</div>
			<div class="col-md-2"></div>
        </div>
        
        <div class="row" style="margin-bottom:20px">
			<div class="col-md-1"></div>
			<div class="col-md-9" role="alert">
			    <center><button href="addMessage.html" id="add_button" class="custom_button fancybox fancybox.iframe">New Message</button></center>
				    
				    <script>
				        $(document).ready(function() {
				            $('.fancybox').fancybox({
							   width: 640,
						   		height: 450,
						   		fitToView : false,
						   		autoSize : false,
                                afterClose: function () {
                                    parent.location.reload(true);
                                }
				            });
				        });
				    </script>


			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="push"></div>
        
        <div class="alert alert-success col-md-11" role="alert">
            <div class="row" style="text-align:center">
                <div class="col-md-1"></div>
                <div class="col-md-3">Johnny, Billy, Jenny</div>
                <div class="col-md-3">Building Communiction App</div>
                <div class="col-md-3">Sunday, February 22 - 11:05 PM</div>
                <div class="col-md-2">
                    <button href="/showMessage" id="show_message" class="btn fancybox fancybox.iframe">View Messages</button>
				</div>
            </div>
        </div>
        
        {% for MessageThread in message_list %}
        <div class="alert alert-success col-md-11" role="alert">
            <div class="row" style="text-align:center">
                <div class="col-md-1"></div>
                <div class="col-md-3">{{MessageThread['users'][0].get().first_name}}</div>
                <div class="col-md-3">{{MessageThread['subject']}}</div>
                <div class="col-md-3">{{MessageThread['time'].strftime("%A, %B %d - %I:%M %p")}}</div>
                <div class="col-md-2">
                    <button href="/showMessage?messageId={{MessageThread.id()}}" id="show_message" class="btn fancybox fancybox.iframe">View Messages</button>
				</div>
                <div class="col-md-2"></div>
            </div>
        </div>
        {% endfor %}
	{% endblock %}

	{% block bottom %}{{ super() }}{% endblock %}

