{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}

{% block content %}

<div class="container">
  <div class="spacer25"></div>

  <div class="col-md-4 col-md-offset-4">
    <h1 style="margin-left:-15px;">Profile:</h1>
    <br>

      <p>
          <label for="userType">Account Type:</label> {{ usertypeAsString }}
          <br>
          <label for="fname">First Name:</label> {{ first_name }}
          <br>
          <label for="lname">Last Name:</label> {{ last_name }}
          <br>
          <label for="email">Email:</label> {{ username }}
          <br>

      </p>

      <p>
          <a href="{{ logout }}"><button type="button" class="btn btn-default navbar-btn">Logout</button></a>
          <a href="{{ 'profileEdit' }}"><button type="button" class="btn btn-default navbar-btn">Edit</button>
      </p>
    </div>

</div>

{% endblock %}
