{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}

{% block content %}


<div class="container">
  <div class="spacer25"></div>

  <div class="col-md-4 col-md-offset-4">
    <h1 style="margin-left:-15px;">Edit Profile:</h1>
    <br>
    <form role="form" action="/signup" method="POST">
      <div class="form-group">
        <label for="fname">First Name:</label>
        <input class="form-control" type="text" name="fname" value="{{ first_name }}"></input>
      </div>
      <div class="form-group">
        <label for="lname">Last Name:</label>
        <input class="form-control" type="text" name="lname" value="{{ last_name }}"></input>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="text" name="email" value="{{ username }}"></input>
      </div>

      <div class="form-group">
        <label for="school">School Name:</label>
        <input id="schoolNameField" class="form-control" type="text" name="school" value="{{ school }}"></input>
        <div style="display: inline;" id="schoolSug"></div>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
      <a href="{{ 'forgot' }}"><button type="button" class="btn btn-default navbar-btn">Reset Password</button>
    </div>
  </form>

</div>

{% endblock %}
