{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}

{% block content %}

<div class="container">
  <div class="spacer25"></div>

  <div class="col-md-4 col-md-offset-4">
    <h1 style="margin-left:-15px;">Password Reset:</h1>
    <br>
    <form role="form" action="/password" method="POST">
      <div class="form-group">
        <h4>{{ error }}</h4>
        <label for="password">Enter New Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password" />
        <br>
        <label for="confirm_password">Confirm Password:</label>
      	<input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password"/>
      	<input type="hidden" name="t" value="{{ token }}" />
        <input type="hidden" name="u" value="{{ user }}" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

</div>

{% endblock %}
