{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}

{% block content %}

<div class="container">
  <div class="spacer25"></div>

    {% if error %}
      <div class="alert alert-warning" style="margin-top:20px"><p> {{ error }} </p></div>
    {% endif %}
  <div class="col-md-4 col-md-offset-4">
    <h1 style="margin-left:-15px;">Teacher Registration:</h1>
    <br>
    <form role="form" action="/signup" method="POST">
      <div class="form-group">
        <label for="fname">First Name:</label>
        <input class="form-control" type="text" name="fname" placeholder="First Name" value="{{previous_fname}}"></input>
      </div>
      <div class="form-group">
        <label for="lname">Last Name:</label>
        <input class="form-control" type="text" name="lname" placeholder="Last Name" value="{{previous_lname}}"></input>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="text" name="email" placeholder="Email" value="{{previous_email}}"></input>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password" value="{{previous_password}}"></input>
      </div>
      <div class="form-group">
        <label for="school">School Name:</label>
        <input id="schoolNameField" class="form-control" type="text" name="school" placeholder="School Name" value="{{previous_school_name}}"></input>
        <div style="display: inline;" id="schoolSug"></div>
      </div>
      <div class="form-group">
        <input id="teacher_code" class="form-control" type="hidden" name="teacher_code" value="1"></input> <!-- Used to be 47 -->
      </div>

      <div class="form-group" id="class-container">
        <label for="school">Class Name:</label>
        <input id='name-1' class='form-control' type='text' name='name-1' placeholder='Class Name'></input>
      </div>
      <button type="button" id="addClassButton" onclick="addClassRow()" class="btn btn-default form-control"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Class</button>
      <center><button style="margin-top:20px" type="submit" class="custom_button green_button">Submit</button></center>
      <input id="class-indexes" class="form-control" type="hidden" name="class-indexes" value="[1]"></input>

    </div>
  </form>

</div>

<script type="text/javascript">
  var row_index = 2;
  var classArray = [1];

  $(document).ready(function(){
    initializeClassIndexJSON();
  });


  function addClassRow()
  {
    var name = new String("name-" + row_index);
    $('#class-container').append(" <input id='" + name + "' style='margin-top:12px' class='form-control' type='text' name='" + name + "' placeholder='Class Name'></input>");
    $('#class-container').append("<button class='btn btn-default form-control remove-class-button' type='button' id='"+ name +"-remove-button' onclick='removeRow("+ row_index +")'>Remove</button>");
    classArray.push(row_index);
    row_index++;
    $('#class-indexes').val(JSON.stringify(classArray));
  }

  function removeRow(row_index)
  {
    var name = "name-" + row_index;
    var row = $("#" + name);
    var buttonID = name + "-remove-button";
    var button = $("#" + buttonID);
    row.remove();
    button.remove();
    var index = classArray.indexOf(row_index);
    classArray.splice(index,1);
    $('#class-indexes').val(JSON.stringify(classArray));
  }

  function initializeClassIndexJSON()
  {
    var index = classArray.indexOf(row_index);
    $('class-indexes').val('{[1]}');
  }



</script>
<script src="/assets/js/schoolSuggestion.js"></script>


{% endblock %}
